* {
    padding: 0;
    border: 0;
    font-family: inherit;
    margin: 0;
}
body {
    background-color: white;
}

/* CUERPO DE IMAGEN DEL VINO*/
.mesa img{
    width: 100%;
    height: auto;
}
.texto-mesa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
}
/*-----------------------CUERPO DE LOS CONTACTOS-----------------------*/
.contenedor{
    display: flex;
    justify-content: center;
}
.columna{
    padding: 3px 170px;
    text-align: center;
}
.contenedor img{
    width: 80px;
}
#contacto1{
    margin-bottom: 20px;
}
/*-----------------------FIGURAS DE CONTACTO-----------------------*/
#celular{
    width: 80px;
    height: 80px;
    margin-top:  5px;
}
#direccion{
    width: 45px;
    height: 50px;
    margin: 10px;
}
#email{
    width: 50px;
    height: 35px;
    margin: 20px;
}
#logos{
    background-color: transparent;
}
#logos:hover{
    border: 1px solid red;
    background-color: red;
    transition: 1.5s;
}
/*-------------------FORMULARIO-------------------*/
.linea {
    display: inline-block;
    width: 80px; /* Largo de las líneas */
    height: 1px;
    background-color: #B22222; /* Color de las líneas */
    margin: 0 10px;
}
.decoracion{
    padding: 30px;
}
.formulario{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,90px);
    justify-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#titulo1{
    color: red;
    text-align: center;
    font-size: 25px;
}
#titulo2{
    font-size: 37px;
}
#copas{
    width: 100px;
    height: 100px;
}
#caja{
    border-radius: 15px;
    display: 10px;
    border: 2px solid gray;
    padding: 12px;
    outline: none;
    margin: 15px;
    font-size: 20px;
}
#btn{
    display: flex;
    border-radius: 15px;
    padding: 15px 105px;
    border: 2px solid rgb(129, 129, 129);
    margin-left: 180px;
    margin-bottom: 15px;
    background-color: rgb(206, 206, 206);
}
#btn:hover{
    background-color: rgb(179, 177, 177);
    border: 2px solid #949494;
    color: rgb(66, 45, 45);
    transition: 0.3s;
}