header{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

* {
    font-family: inherit;
}
body {
    background-color: white;
}
/*--------estilos para el header-------------*/
header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin: auto;
}
div.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Limita el ancho m치ximo para pantallas grandes */
    padding: 0 20px;   /* Espacio lateral */
}
img.header {
    width: 180px;
    transition: width 0.4s ease; /* Transici칩n para cambio de tama침o */
}
nav.header {
    display: flex;
    gap: 10px;
}
a.header {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: black;
    font-size: 15px;
    border: 2px solid transparent;
    padding: 15px;
    transition: background-color 0.4s ease;
}
a:hover.header {
    background-color: tomato;
}
/*--------------------------FLECHAS--------------------------*/
.flechas{
    position: relative;
}
#anterior,#siguiente{
    position: absolute;
    background-color: gray;
    padding: 15px 12px;
    color: white;
}

.carrusel{
    width: 100%;
    height: 100%;
    object-fit: contain;  /* La imagen se ajustar치 completamente dentro del contenedor */
}
#anterior, #siguiente {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}
#anterior {
    left: 10px;
}
#siguiente {
    right: 10px;
}
#siguiente:hover,#anterior:hover{
    background-color: rgb(87, 87, 87);
    transition: 1.2;
}


/* CUERPO DE IMAGEN DEL VINO*/
.mesa img{
    width: 100%;
    height: 950px;
}
.texto-mesa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: left;
}
/*-----------------------CUERPO DE LOS CONTACTOS-----------------------*/
.contenedor{
    display: flex;
    justify-content: center;
}
.columna{
    padding: 3px 170px;
    text-align: center;
}
.contenedor img{
    width: 80px;
}
#contacto1{
    margin-bottom: 20px;
}
/*-----------------------FIGURAS DE CONTACTO-----------------------*/
#celular{
    width: 80px;
    height: 80px;
    margin-top:  5px;
}
#direccion{
    width: 45px;
    height: 50px;
    margin: 10px;
}
#email{
    width: 50px;
    height: 35px;
    margin: 20px;
}
#logos{
    background-color: transparent;
}
#logos:hover{
    border: 1px solid red;
    background-color: red;
    transition: 1.5s;
}
/*-------------------FORMULARIO-------------------*/
.formulario{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2,90px);
    justify-items: center;
    margin-top: 15px;
}
#titulo1{
    color: red;
    text-align: center;
    font-size: 25px;
}
#titulo2{
    font-size: 37px;
    padding: 5px 12px;
}
#copas{
    width: 100px;
    height: 100px;
}
#caja{
    border-radius: 15px;
    display: 10px;
    border: 2px solid gray;
    padding: 12px;
    outline: none;
    margin: 15px;
    font-size: 20px;
}
#btn{
    display: flex;
    border-radius: 15px;
    padding: 15px 105px;
    border: 2px solid rgb(129, 129, 129);
    margin-left: 180px;
    margin-bottom: 15px;
    background-color: rgb(182, 182, 182);
}
#btn:hover{
    background-color: #c9c0bb;
    border: 2px solid #333333;
    color: rgb(66, 45, 45);
    transition: 1s;
}