* {
    padding: 0;
}
body{
    /* background-color: #f5f5f5; */
    background-color: white;
    /*Borgoña (#800020)
    Vino tinto (#8B0000)
    Rojo oscuro (#B22222)*/
}

/* img{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);    
} */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

@font-face {
    font-family: 'Qwitcher Grypen';
    src: url('../fonts/QwitcherGrypen-Bold.woff2') format('woff2'),
         url('../fonts/QwitcherGrypen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
h2{
    font-family: monospace;
}
h4{
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Qwitcher Grypen', cursive;
    text-align: left;
    font-size: 48px;
    margin: 0;
    
}
h1{
    /* color: #800020; */
    color: #b22222;
    font-family: monospace;
    text-align: left;
}
p{
    font-family:cursive;
    text-align: justify; /* Justifica el texto */
    line-height: 1.6; /* Espaciado entre líneas */
    text-align: left;
}

/* ------ Estilos para la linea del tiempo -----------*/
.timeline-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    position: relative;
    grid-row: 3;
    grid-column: 1/span 2;
    gap: 20px;
  }
  
  .timeline-container::before {
    content: '';
    position: absolute;
    top: 50%; /* Centra la línea */
    /* left: 120px;
    width: 80%; */
    left: 10px;
    width: 90%;
    height: 2px; /* Grosor de la línea */
    background-color: #333; /* Color de la línea */
    /* z-index: 1; */
    z-index: 0;
  }
  
  .timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    padding: 10px;
  }
  
  .timeline-date {
    font-size: 24px;
    font-weight: bold;
    color: rgb(194, 38, 90);;
    background-color: white;
    border: 2px solid #333;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    z-index: 1; /* Asegura que los círculos estén por encima de la línea */
  }
  
  .timeline-content {
    width: 250px;
  }
  
  .timeline-content:hover {
    background-color: #e0e0e0;
    transition: background-color 0.3s ease;
  }
/* ------  FIN -----------*/
/* Estilos para el contenido central */
.headCuerpo{
    grid-column: 1 / span 2;
    grid-row: 1;
    padding: 40px 0;
    text-align: center;
}
.subTitle {
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 28px;
    color: #B22222; /* Color del subtítulo */
    margin-bottom: 5px;
}
.decoracion {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linea {
    display: inline-block;
    width: 80px; /* Largo de las líneas */
    height: 1px;
    background-color: #B22222; /* Color de las líneas */
    margin: 0 10px;
}
.medio {
    gap: 20px;
    display: grid;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;/*misma dimension de columnas*/
    grid-template-rows: auto auto auto auto auto auto; 
    /* background-color: #FAF5EF; */
    background-color: white;
}
.gridImagen{
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    max-width: 100%;
}

.Mision{
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 4; /* Tercera fila */
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}
.Vision{
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 5; /* Cuarta fila */
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}
.Valores{
    grid-column: 1 / span 2; /* Ocupa ambas columnas */
    grid-row: 6; /* Quinta fila */
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}
/*Verde oliva suave (#556B2F) o Dorado apagado (#D4AF37)*/
.tarjetas-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Repartimos las columnas */
    gap: 20px;
    padding: 20px;
}
.tarjeta {
    background-color: #faf5ef;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    transition: transform 0.3s ease;
}
.tarjeta img {
    max-width: 80px; /* Tamaño del icono */
}
.tarjeta:hover {
    transform: translateY(-10px); /* Efecto hover para resaltar las tarjetas */
}
.tarjeta h3 {
    font-size: 20px;
    color: #b22222; /* Color relacionado con el vino */
    margin-bottom: 10px;
}
.tarjeta p {
    font-size: 16px;
    color: #666;
}
.Historia{
    grid-column: 1;
    grid-row: 2;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 6px;
}
#centro{
    text-align: center;
}
/* ------  FIN -----------*/
/*estilo para la imagen de entrada*/
.image-container{
    width: 100%;
    overflow: hidden;
}
.image-container img {
    width: 100%; 
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Elimina cualquier espacio en blanco alrededor de la imagen */
}
.image-text{
    position: absolute;
    top: 50%; /* Centra verticalmente*/
    left: 40%;  /* Centra horizontalmente*/
    transform: translate(-50%, -50%);  /* Ajuste para centrar completamente*/
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra de texto para mejor legibilidad */
    text-align: center;
}
.texto{
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: white;
}
.texto1{
    /* color: #333333; */
    font-size: 18px;
}
/* ------  FIN -----------*/
/*--------estilos para el footer-------------*/
.piePagina {
    background-color: #222; 
    color: white;
    padding: 40px 20px;
    font-size: 14px;
    line-height: 1.6;
}
.group1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Hacer que los elementos se ajusten en pantallas pequeñas */
    margin-bottom: 20px;
}
.box {
    flex: 1;
    min-width: 250px; /* Asegura que las cajas no sean demasiado pequeñas en pantallas más chicas */
    padding: 0 20px;
    text-align: left;
}
.box h2 {
    color: #f9f9f9;
    font-size: 18px;
    margin-bottom: 10px;
}
.box p {
    color: #ccc; /* Color de texto más suave */
    font-size: 14px;
}

.redSocial {
    display: flex;
    gap: 15px; /* Espacio entre los iconos de redes sociales */
}
.redSocial a {
    font-size: 24px;
    color: white;
    transition: color 0.3s;
    text-decoration: none;
}
.redSocial a:hover {
    color: #ddd; /* Cambio de color al pasar el cursor por encima */
}
.footerImg {
    max-width: 200px; /* Ajusta el tamaño del logo */
}
.group2 {
    text-align: center;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 12px;
    color: #ccc;
}
/*--------estilos para el header-------------*/
header {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: auto;
}
div.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Limita el ancho máximo para pantallas grandes */
    padding: 0 20px;   /* Espacio lateral */
}
img.header {
    width: 150px;
    padding-left: 50px;
}
a.header {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 15px;
    border: 2px solid transparent;
    padding: 18px;
    transition: background-color 0.4s ease;
}
a:hover.header {
    color: rgb(194, 38, 90);
}